$color-gray0: #999999;
$color-gray10: #222222;
$color-gray20: #cccccc;
$color-gray30: #b7b7b7;
$color-gray40: #a9a9a9;
$color-gray50: #999999;
$color-gray60: #888888;
$color-gray70: #555555;
$color-gray80: #333333;
$color-gray90: #222222;

$btn-primary-bg: $color-mint40;
$btn-primary-text: $color-base;

// 텍스트 스타일 변수 (Figma text-variable 프레임 기준)
$text-desc-font: 'Pretendard', sans-serif;
$text-desc-size: 14px;
$text-desc-weight: 400;
$text-desc-color: #222222;

$text-title-font: 'Pretendard', sans-serif;
$text-title-size: 16px;
$text-title-weight: 700;
$text-title-color: #222222;

$text-header-font: 'Pretendard', sans-serif;
$text-header-size: 20px;
$text-header-weight: 700;
$text-header-color: #222222;